{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1 class="mb-4 text-center">Nos produits</h1>
	<div class="row">
		{% for p in products %}
			<div class="col-4">
				{% include "shared/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2 class="text-center">Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus est quae aperiam deserunt ad perspiciatis quos debitis, fugit placeat iusto?</p>

	<div class="row mb-5">
		{% include "shared/_assurance.html.twig" with {"color" : "primary", "icon" : "truck", "text" : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus"} %}
		{% include "shared/_assurance.html.twig" with {"color" : "success", "icon" : "check", "text" : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus"} %}
		{% include "shared/_assurance.html.twig" with {"color" : "warning", "icon" : "lock", "text" : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus"} %}
	</div>
{% endblock %}
